
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/


.vscode/
.idea/


.DS_Store
Thumbs.db


db.sqlite3


/staticfiles/
/static/
/media/


.coverage
htmlcov/

*.log

Pipfile.lock

.pytest_cache/
